body{
    font-family: Arial, San-serif;
    font-size: 100%;
    background-color: light-blue;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
header{
    padding:50px 0;}
    background-color: red;
}
h1,h2{
    color: yellow;
    tex-align: center
}
nav{
    background-color: green
    border-color: pink;
    min-height: 64px
}

